.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 98%;
  margin-top: 5px;
  margin-left: 5px;
  width: 220px;
  background-color: #333;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.sidebar .app-title {
  color: #fff;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin-bottom: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.nav-links li a:hover {
  background-color: #4CAF50;
  border-radius: 4px;
  padding: 8px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}
